/* Import the google web fonts you want to use */

@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
/*Typography
--------------------------------------------------------------*/

body {
  padding: 1rem 2rem;
  color: #f2f2f2;
  font-family: "Comfortaa", Arial, sans-serif;
}

input, button, select, textarea {
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #5b5b5b;
}

button, select, textarea {
}

select {
  padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

a {
  color: aqua;
}

a:visited {
  color:fuchsia
}