.newsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.news {
    border: 1px dotted gold;
    flex-basis: 40%;
    padding: 1rem;
    margin: 1rem 0;
}

.news__date {
    font-size: larger;
    font-weight: 900;
    margin-bottom: 1rem;
}